<div id="<%= dom_id post %>" class='post-page'>
 
  <p class='center-title'>
    <strong class='page-title'><%= post.title %></strong>
  </p>

  <p class ='post-content'>
    <%= simple_format(@post.body) %>
  </p>

</div>
