<div class='wrapper'>
  <h1 class='page-title'>Edit Post</h1>
  <div>
    <%= link_to 'Back to Post', @post , class: 'link' %> |
    <%= link_to 'Home', posts_path, class: 'link' %> 
  </div>
</div>


<%= render 'form', post: @post %>

<br>