@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    font-family: 'Poppins';
}

a, a:visited {
    color: maroon;
}
.error-container {
    color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page_label {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
.page-title {
    font-size: 3.5rem;
    color: maroon;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.title-wrapper{
    margin-bottom: 0px;
}

.subtitle {
    font-size: 1rem;
    font-weight: 300;
    padding-top: 0px;
    margin-top: 0px;
    color: lightslategray;
}
#posts {
    width: 70%;
    margin: auto;
    border-top: solid maroon 2px;
    border-bottom: solid maroon 2px;
    margin-bottom: 20px;
   
}
.notice-container {
    margin: auto;
    margin-top: 0px;
    width: 60%;
}
.link-button {
    font-size: 1rem;
    text-decoration: none;
    padding: 3px;
    text-align: center;
    margin: auto;   
    text-transform: uppercase;
    background-color:white;
    color: maroon;
    border: solid 1px maroon;
    border-radius: 5px;
}

.link-button:hover{
    background-color:rgba(128, 0, 0, 0.695);
    color: white;
    border-radius: 5px;
}

.post-title {
    font-size: 1.5rem;
    color: maroon;
    text-transform: uppercase;
}
.post-body{
    font-size: 1rem;
    color: darkslategrey;
    font-weight: 400;
}
.indiv-post {
    border-bottom: 1px solid lightgrey;
}

.input {
    width: 100%;
}
.text-input {
    width: 100%;
    height: 300px;
}
.comment-input {
    width: 100%;
    height: 50px;
}

.form-proper {
    width: 70%;
    margin: auto;
}
.post-page {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;

}
.center-title {
    margin: auto;
}
.post-content {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.post-actions {
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    border-bottom: 1px solid lightgrey;
}

.delete-btn {
    margin-top: 5px;
    width: 100%;
    background-color:rgba(128, 0, 0, 0.695);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;

}
.delete-btn:hover {
    background-color:white;
    color: maroon;
    border: solid 1px maroon;
    
}
.wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.link:hover{
    color: rgba(128, 0, 0, 0.664);
}

.notice-container {
    display: flex;
    justify-content: center;
}

.message-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p.notice {
    color: green; 
    font-weight: 600;
}
.notes{
    padding-right: 15px;
}
.comments-section {
    border-top: 1px solid lightgrey;
    margin-top: 10px; 
}
.comment {
    width: 90%;
    border-bottom: solid 1px maroon;
    margin: auto;
    margin-bottom: 5px;
   
}
.comment-name {
    color: maroon;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-right: 10px;
    margin-bottom: 0px;
}
.comment-body {
    font-weight: 300;
    font-style: italic;
}

.bottom-row {
    width: 100px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: space-around;
   
}
.edit-comment {
    text-decoration: none;
    color: maroon;
}

.delete-comment {
    color: maroon;
} 
.time {
    font-size: 0.6rem;
    padding: 0px;
    color: lightslategray;
} 
